@import 'settings';
@import 'foundation-emails';

table.container {
  margin: $global-margin auto;
  Margin: $global-margin auto;
}

table.button a {
  text-align: center;
}

ul {
  padding-left: $global-padding;
}

.button {
  margin-top: $global-margin;
}
