<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td class="bg-gray-100 dark:bg-gray-700" align="center">
          <table class="w-[600px] sm:w-full">
            <tr>
              <td class="p-4" align="center" colspan="2">
                <a class="text-cryptomator-primary" href="https://cryptomator.org/hub/">
                  <img class="h-8" src="https://static.cryptomator.org/newsletter/logo-hub.png" alt="Cryptomator Hub">
                </a>
              </td>
            </tr>
            <tr class="text-gray-500 dark:text-gray-400 text-xs">
              <td class="pb-2 sm:px-4" align="left">
                {{{ page.title }}}
              </td>
              <td class="pb-2 sm:px-4" align="right">
                <a class="text-gray-500 no-underline hover:underline" href="[LINK_BROWSER]">View this email in your browser</a>
              </td>
            </tr>
            <tr>
              <td class="sm:px-4" align="center" colspan="2">
                <table class="w-full">
                  <tr>
                    <td class="prose bg-white dark:bg-gray-800 text-gray-900 dark:text-white rounded text-base leading-6 px-12 py-8 sm:px-4 sm:py-2">
                      <md src="src/content/{{ page.content_filename }}"></md>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="text-gray-500 text-xs">
              <td class="text-xs pt-2 sm:px-4" align="left" colspan="2">
                <div class="inline-block pb-2 pr-2"><a class="text-gray-500 no-underline hover:underline" href="[LINK_UNSUBSCRIBE]">unsubscribe from this list</a></div>
                <div class="inline-block pb-4"><a class="text-gray-500 no-underline hover:underline" href="[LINK_PREFERENCES]">update subscription preferences</a></div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
